<!DOCTYPE html>
<html>
<head>
    <title>Form Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Form Data</h1>
        {% if form %}
            <ul class="list-group">
                {% for key, value in form.items() %}
                    <li class="list-group-item">{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ url_for('form_data') }}" class="btn btn-secondary mt-3">Back</a>
    </div>
</body>
</html>