body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Для того чтобы футер всегда был внизу */
}

header {
    background-color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Растягиваем на всю ширину */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a.active {
    color: tomato;
}

nav a:hover {
    color: tomato;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Для того чтобы основное содержимое занимало всё доступное пространство */
}

.dishes {
    width: 100%;
    margin-bottom: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.3s;
}

.dish:hover {
    border: 2px solid tomato;
}

.dish img {
    width: 100%;
    border-radius: 35px;
}

.dish .price {
    font-size: 1.5em;
}

.dish .name {
    font-size: 1.5em;
}

.dish .weight {
    color: gray;
    margin-top: auto; /* Для выравнивания по нижнему краю */
}

button {
    background-color: #f1eee9;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: auto; 
    transition: background-color 0.3s;
}

.dish button:hover {
    background-color: orange;
}

footer {
    background-color: black; /* Черный фон для футера */
    color: white; /* Белый цвет текста */
    padding: 10px;
    text-align: left; /* Выравнивание текста по левому краю */
    width: 100%; /* Растягиваем на всю ширину */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
    margin-top: auto; /* Для того чтобы футер всегда был внизу */
}

footer p {
    margin: 0; /* Убираем отступы */
}

/* Адаптивные стили */
@media (max-width: 800px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        justify-content: space-around; /* Распределяем ссылки на всю доступную ширину */
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center; /* Выстраиваем ссылки в столбик по центру */
    }

    nav a {
        margin: 10px 0; /* Добавляем отступы между ссылками */
    }

    .menu {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .menu {
        grid-template-columns: 1fr;
    }
}
